{% extends "base.html.twig" %}

{% block title %}{{ parent() }}View stats{% endblock %}

{% block body %}
    <form method="post" class="form-inline" action="{{ path('set_date') }}">
        <label  class="my-1 mr-2" for="date_from">From:</label>
        <input type="date" class="form-control" id="date_from" name="date_from" value="" />

        <label class="my-1 mr-2" for="date_to">To:</label>
        <input type="date" class="form-control" id="date_to" name="date_to" value="" />

        <button type="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
{% endblock %}